numpy
pandas
scikit-learn
matplotlib
seaborn
Flask-SQLAlchemy
openpyxl
opencv-python
Flask-Mail
MySQL
flask-mysqldb
Flask-QRcode
pillow
streamlit
wikipedia
requests
streamlit-searchbox
beautifulsoup4
imblearn
fastapi
uvicorn
jinja2
pymongo
pydantic
pymongo
pydantic[email]


